footer {
    .footer-content {
        padding: 5rem 0;
    } 

    .links-container {
        h3 {
            text-transform: uppercase;
        }

        a {
            display: block;
            margin-bottom: 1rem;
        }
    }
}
